/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/

.mt5{
	margin-top:5px;
}
.color{
	color:#E14C4B;
}
.color:hover{
	color:#E14C4B;
	text-decoration:underline;
}
.page-logo img{
	/*width:150px;*/
}
.nop{
	padding-left:0px;
	padding-right:0px;
}
.nopadl {padding-left:0px;}
.minht .portlet-body {
    max-height: 300px;
    overflow-y: scroll;
    min-height: 300px;
}
.ml10{
	margin-left:10px;
}
.pagination>li>a, .pagination>li>span {
    line-height: 22px !important;
}
#nopad1
{
	padding-left: 0px;padding-right: 0px;
}
#camdis
{
padding-left: 0px;
}
#working_area_top{
	border: solid 1px #c49f47; padding-left:5px; margin-bottom:10px; background-color: #c49f47; color:#fff; margin-left:-10px; margin-right:-10px;
}
#working_area_bottom{
	border-bottom: solid 1px #c49f47; padding-left:5px; margin-bottom:10px; margin-left:-10px; margin-right:-10px;
}

.maxhts {max-height:300px; overflow-y:scroll; min-height:150px;}
.maxhts .list-group-item {
    cursor: move;
}